@font-face {
  font-family: 'czcionka';
  src: url('Czcionka_menu.ttf');
}

@-webkit-keyframes ruch { 
    0% { 
        background: rgba(255, 255, 255, .0);
		text-shadow: 0px 0px 0px  black;
		opacity: 0;
    } 
    100% { 
        background: rgba(255, 255, 255, .4);
		text-shadow: 0px 0px 0px  black;
		opacity: 1;
    } 
} 
@keyframes ruch { 
    0% { 
        background: rgba(255, 255, 255, .0);
		text-shadow: 0px 0px 0px  black;
		opacity: 0;
    } 
    100% { 
        background: rgba(255, 255, 255, .4);
		text-shadow: 0px 0px 0px  black;
		opacity: 1;
    } 
} 

@-webkit-keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 
@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

@-webkit-keyframes wysuwanie {
    from {
		width:1000px;
		height:0px;
		color:#f2f2f2;
		opacity:0;
	}
    to {
		width:1000px;
		height:400px;
		color:#606060;
		opacity:1;
	}
}

@-webkit-keyframes wysuwanie_lupka {
    from {
		width:200px;
		height:0px;
		color:#f2f2f2;
		opacity:0;
	}
    to {
		width:200px;
		height:40px;
		color:#606060;
		opacity:1;
	}
}


body{
	margin:0px;
	background-color:#f2f2f2;
}

hr{
	color:#606060;
	background-color:#606060;
	border-color:#606060;
}

.top{
	width:100%;
	background-color:#606060;
	display:block;
	height:45px;
}
.container{
	width:1024px;
	background-color:#f2f2f2;
	height:345px;
	display:block;
	margin:auto;
	position:relative;
	bottom:59px;
}

/* Wszystko dotyczące nawigacji ..MENU.. */

.menu{
	width:1024px;
	background-color:#606060;
	display:block;
	height:45px;
	font-family:czcionka;
	color:white;
	font-size:14px;
	font-weight:bold;
}

ul > li{
	float:left;
	width:102;
	margin-top:10px;
	text-align:center;

}

ul > li.ikonka_listy{
	width:20px;
	height:20px;
	position:relative;
	top:2px;
}

.lista_aktywna{
	width:1000px;
	height:400px;
	display:none;
	background-color:#f2f2f2;
	outline:medium solid #606060;
	position:absolute;
	right:70px;
	z-index:2;
	top: -20px;
	left: -42px;
	color:#606060;
	font-weight:bold;
}

.lista_aktywna_lupka{
	width:1000px;
	height:400px;
	display:none;
	background-color:#f2f2f2;
	outline:medium solid #606060;
	position:absolute;
	right:70px;
	z-index:2;
	top: -20px;
	left: -42px;
	color:#606060;
	font-weight:bold;
}

.lista_aktywna > a{
	top: 20px;
	position: relative;
	color:#606060;
	font-weight:bold;
}

.lista_aktywna_lupka > a{
	top: 20px;
	position: relative;
	color:#606060;
	font-weight:bold;
}

ul > li :hover + ol > li > div.lista_aktywna {
	display:block;
	color:#606060;
	font-weight:bold;
}

ul > li :hover + ol > li > div.lista_aktywna_lupka {
	display:block;
	color:#606060;
	font-weight:bold;
}


div.lista_aktywna:hover {
	display:block;
	color:#606060;
	font-weight:bold;
}

div.lista_aktywna_lupka:hover {
	display:block;
	color:#606060;
	font-weight:bold;
}

ul > li.lupka{
	width:20px;
	height:20px;
	position:relative;
	top:2px;
}



ul > li.bol{
	width:30px;
	position:relative;
	top:3px;
}

ul > li.padding{
	padding-left:5px;
	margin-top:13px;
}


ul > li > a:hover{
	color:#b2b2b2;
}

ul > li > a{
	text-decoration:none;
}

ul > li > ol > li {
	list-style-type:none;
	width:100px;
	position:relative;
	top:20px;
}

/* Koniec menu */

/* Slajder */

.slider{
	width:1024px;
	height:300px;
	display:block;
	background-color:white;
} 

/* Koniec Slajder */

/* Dolne Boxy */

.boxs{
	margin-top: 200px;
	width: 100%;
	position: absolute;
	margin-bottom:10px;
	min-width: 500px;
	min-width: 900px;
}

div.box{
	width: 24.750%;
	height:200px;
	float:left;
	background-position:center;
	z-index: -1;
}

.fade{
	z-index: 0;
	background: rgba(255, 255, 255, .0);
	display: block;
	width: 24.750%;
	height: 200px;
	position: absolute;

}

.fade:hover{
	-webkit-animation-name: ruch; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: ruch;
    animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.textInBox{
	z-index: 1;
	color: transparent;
	width: 100%;
	position: relative;
	display: block;
}

div.separate{
	min-width: 3px;
	width:0.09%;
	height:200px;
	float:left;
}

.jssorb21 {
	position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	position: absolute;
	/* size of bullet elment */
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	color: white;
	font-size: 12px;
	background: url(img/b10.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

.jssora21l, .jssora21r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url(img/a21.png) center center no-repeat;
	overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }



.stopka{
	width:1024px;
	margin:auto;
	background-color:#f2f2f2;
}